<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		Address/Detail.html
-->

<f:section name="content">
	<f:if condition="{addressItem}">
		<f:then>
			<ad:format.nothing>
				<ad:excludeDisplayedAddress addressItem="{addressItem}" />
				<f:if condition="{addressItem.alternativeTitle}">
					<f:then>
						<ad:titleTag>
							<f:format.htmlentitiesDecode>{addressItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</ad:titleTag>
					</f:then>
					<f:else>
						<ad:titleTag>
							<f:format.htmlentitiesDecode><f:render partial="Title" arguments="{addressItem:addressItem}" /></f:format.htmlentitiesDecode>
						</ad:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{addressItem: addressItem, settings:settings}" />
			</ad:format.nothing>
			<f:if condition="{settings.detail.showPrevNext}">
				<ad:simplePrevNext pidList="{addressItem.pid}" address="{addressItem}" as="paginated" >
					<f:if condition="{paginated}">
						<ul class="pager">
							<f:if condition="{paginated.prev}">
								<li class="previous">
									<ad:link address="{paginated.prev}" settings="{settings}">
										<span aria-hidden="true">&larr; </span>{paginated.prev.title}
									</ad:link>
								</li>
							</f:if>
							<f:if condition="{paginated.next}">
								<li class="next">
									<ad:link address="{paginated.next}" settings="{settings}" class="next">
										{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
									</ad:link>
								</li>
							</f:if>
						</ul>
					</f:if>
				</ad:simplePrevNext>
			</f:if>
			<div class="header">
				<h2 itemprop="headline"><f:render partial="Title" arguments="{addressItem:addressItem}" /></h2>
				<p><b>{addressItem.position}</b></p>
			</div>
			<div class="footer">
				<p>

					<f:if condition="{addressItem.categories}">
						<f:render partial="Category/Items" arguments="{categories:addressItem.categories, settings:settings}" />
					</f:if>

					<f:if condition="{addressItem.tags}">
						<!-- Tags -->
						<span class="address-list-tags" itemprop="keywords">
						<f:for each="{addressItem.tags}" as="tag">
							{tag.title}
						</f:for>
						</span>
					</f:if>

				</p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4">

					<ad:renderMedia address="{addressItem}" imgClass="img-fluid" videoClass="video-wrapper" audioClass="audio-wrapper">

						<f:render partial="Detail/MediaContainer" arguments="{media: addressItem.media, settings:settings}" />

					</ad:renderMedia>

				</div>
				<div class="col-xs-12 col-md-8">

					<p><b><f:translate key="hdl.contact">Contact</f:translate></b><br />
						<f:translate key="lbl.telephone">Telephone</f:translate>: {addressItem.phone}<br />
						<f:translate key="lbl.fax">Fax</f:translate>: {addressItem.fax}<br />

						<f:if condition="{addressItem.directContact}">
							<f:then>
								<f:link.email email="{addressItem.email}" />
							</f:then>
							<f:else>
								<f:if condition="{settings.contact.pageId}">
									<f:link.action pageUid="{settings.contact.pageId}" arguments="{address:addressItem.uid}"><f:translate key="btn.contact">Contact</f:translate></f:link.action>
								</f:if>

							</f:else>
						</f:if>


					</p>


					<p><b><f:translate key="hdl.address">Address</f:translate></b><br />
						<f:if condition="{addressItem.address}">
							<f:then>
								<f:format.nl2br>{addressItem.address}</f:format.nl2br>
							</f:then>
							<f:else>
								<f:if condition="{addressItem.isPerson} && {addressItem.hasRelatedCompany}">
									<f:format.nl2br>{addressItem.relatedCompany.address}</f:format.nl2br>
								</f:if>
							</f:else>
						</f:if>
					</p>


					<f:if condition="{addressItem.contentElements}">
						<!-- content elements -->
						<f:cObject typoscriptObjectPath="lib.tx_address.contentElementRendering">{addressItem.contentElementIdList}</f:cObject>
					</f:if>

				</div>


			</div>

			<f:if condition="{addressItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text" itemprop="description">
					<f:format.html>{addressItem.teaser}</f:format.html>
				</div>
			</f:if>


			<f:render partial="Detail/Map" arguments="{addressItem: addressItem, settings:settings}" />


			<f:if condition="{addressItem.relatedLinks}">
				<!-- Related links -->
				<div class="address-related address-related-links card mb-4">
					<div class="card-body">
						<h4 class="card-title">
							Links
						</h4>
						<ul>
							<f:for each="{addressItem.relatedLinks}" as="relatedLink">
								<li>
									<f:link.typolink parameter="{relatedLink.uri}" >{f:if(condition: relatedLink.title, then: relatedLink.title)}</f:link.typolink>
									<f:if condition="{relatedLink.description}"><span class="link-description">{relatedLink.description}</span></f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</div>
			</f:if>


			<div class="address-text-wrap">
				<f:format.html>{addressItem.bodytext}</f:format.html>
			</div>


			<f:if condition="{settings.backPid}">
				<!-- Link Back -->
				<div class="address-backlink-wrap">
					<f:link.page pageUid="{settings.backPid}">
						<f:translate key="btn.back" />
					</f:link.page>
				</div>
			</f:if>


			<!-- related things -->
			<div class="address-related-wrap">

				<f:if condition="{addressItem.relatedFiles}">
					<!-- related files -->
					<div class="address-related address-related-files">
						<h4>
							<f:translate key="related-files" />
						</h4>
						<ul>
							<f:for each="{addressItem.relatedFiles}" as="relatedFile">
								<li>
									<span class="address-related-files-link">
										<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
											{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
										</a>
									</span>
									<span class="address-related-files-size">
										{relatedFile.originalResource.size -> f:format.bytes()}
									</span>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>

			</div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>
</html>
