<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail"/>

<!--
	=====================
		Address/Detail.html
-->

<f:section name="content">
    <f:if condition="{address}">
        <f:then>
            <ad:format.nothing>
                <ad:excludeDisplayedAddress address="{address}"/>
                <f:if condition="{address.alternativeTitle}">
                    <f:then>
                        <ad:titleTag>
                            <f:format.htmlentitiesDecode>{address.alternativeTitle}</f:format.htmlentitiesDecode>
                        </ad:titleTag>
                    </f:then>
                    <f:else>
                        <ad:titleTag>
                            <f:format.htmlentitiesDecode>
                                <f:render partial="Title" arguments="{address:address}"/>
                            </f:format.htmlentitiesDecode>
                        </ad:titleTag>
                    </f:else>
                </f:if>
                <f:render partial="Detail/Opengraph" arguments="{address: address, settings:settings}"/>
            </ad:format.nothing>
            <f:if condition="{settings.detail.showPrevNext}">
                <ad:simplePrevNext pidList="{address.pid}" address="{address}" as="paginated">
                    <f:if condition="{paginated}">
                        <ul class="pager">
                            <f:if condition="{paginated.prev}">
                                <li class="previous">
                                    <ad:link address="{paginated.prev}" settings="{settings}">
                                        <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                                    </ad:link>
                                </li>
                            </f:if>
                            <f:if condition="{paginated.next}">
                                <li class="next">
                                    <ad:link address="{paginated.next}" settings="{settings}" class="next">
                                        {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                                    </ad:link>
                                </li>
                            </f:if>
                        </ul>
                    </f:if>
                </ad:simplePrevNext>
            </f:if>
            <div class="header">
                <h2 itemprop="headline">
                    <f:render partial="Title" arguments="{address:address}"/>
                </h2>
                <p><b>{address.position}</b></p>
            </div>
            <div class="footer">
                <p>

                    <f:if condition="{address.categories}">
                        <f:render partial="Category/Items" arguments="{categories:address.categories, settings:settings}"/>
                    </f:if>

                    <f:if condition="{address.tags}">
                        <!-- Tags -->
                        <span class="address-list-tags" itemprop="keywords">
						<f:for each="{address.tags}" as="tag">
							{tag.title}
						</f:for>
						</span>
                    </f:if>

                </p>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">

                    <ad:renderMedia address="{address}" imgClass="img-fluid" videoClass="video-wrapper" audioClass="audio-wrapper">

                        <f:render partial="Detail/MediaContainer" arguments="{media: address.media, settings:settings}"/>

                    </ad:renderMedia>

                </div>
                <div class="col-12 col-md-8">

                    <p><b>
                        <f:translate key="hdl.contact">Contact</f:translate>
                    </b><br/>
                        <f:translate key="lbl.telephone">Telephone</f:translate>
                        : {address.phone}<br/>
                        <f:translate key="lbl.fax">Fax</f:translate>
                        : {address.fax}<br/>

                        <f:if condition="{address.directContact}">
                            <f:then>
                                <f:link.email email="{address.email}"/>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.contact.pageId}">
                                    <f:link.action pageUid="{settings.contact.pageId}" arguments="{address:address.uid}">
                                        <f:translate key="btn.contact">Contact</f:translate>
                                    </f:link.action>
                                </f:if>

                            </f:else>
                        </f:if>


                    </p>


                    <p><b>
                        <f:translate key="hdl.address">Address</f:translate>
                    </b><br/>
                        <f:if condition="{address.address}">
                            <f:then>
                                <f:format.nl2br>{address.address}</f:format.nl2br>
                            </f:then>
                            <f:else>
                                <f:if condition="{address.isPerson} && {address.hasRelatedCompany}">
                                    <f:format.nl2br>{address.relatedCompany.address}</f:format.nl2br>
                                </f:if>
                            </f:else>
                        </f:if>
                    </p>


                    <f:if condition="{address.contentElements}">
                        <!-- content elements -->
                        <f:cObject typoscriptObjectPath="lib.tx_address.contentElementRendering">{address.contentElementIdList}</f:cObject>
                    </f:if>

                </div>


            </div>

            <f:if condition="{address.teaser}">
                <!-- teaser -->
                <div class="teaser-text" itemprop="description">
                    <f:format.html>{address.teaser}</f:format.html>
                </div>
            </f:if>


            <f:render partial="Detail/Map" arguments="{address: address, settings:settings}"/>


            <f:if condition="{address.relatedLinks}">
                <!-- Related links -->
                <div class="address-related address-related-links card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            Links
                        </h4>
                        <ul>
                            <f:for each="{address.relatedLinks}" as="relatedLink">
                                <li>
                                    <f:link.typolink parameter="{relatedLink.uri}">{f:if(condition: relatedLink.title, then: relatedLink.title)}</f:link.typolink>
                                    <f:if condition="{relatedLink.description}"><span class="link-description">{relatedLink.description}</span></f:if>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </f:if>


            <div class="address-text-wrap">
                <f:format.html>{address.bodytext}</f:format.html>
            </div>


            <f:if condition="{settings.backPid}">
                <!-- Link Back -->
                <div class="address-backlink-wrap">
                    <f:link.page pageUid="{settings.backPid}">
                        <f:translate key="btn.back"/>
                    </f:link.page>
                </div>
            </f:if>


            <!-- related things -->
            <div class="address-related-wrap">

                <f:if condition="{address.relatedFiles}">
                    <!-- related files -->
                    <div class="address-related address-related-files">
                        <h4>
                            <f:translate key="related-files"/>
                        </h4>
                        <ul>
                            <f:for each="{address.relatedFiles}" as="relatedFile">
                                <li>
									<span class="address-related-files-link">
										<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
											{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
										</a>
									</span>
                                    <span class="address-related-files-size">
										{relatedFile.originalResource.size -> f:format.bytes()}
									</span>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

            </div>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>
</html>
