<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="address address-{addressItem.type}{f:if(condition: addressItem.istopaddress, then: ' topaddress')} mb-4">
    <ad:excludeDisplayedAddress addressItem="{addressItem}"/>

    <div class="row">
        <div class="col-md-4">


            <f:render partial="List/Media/Container" arguments="{addressItem:addressItem, mediaElement: addressItem.mediaPreviews.0, settings:settings}"/>


        </div>
        <div class="col-md-8">

            <!-- header -->
            <div class="address--list-header address--header">
                <h3>
                    <ad:link addressItem="{addressItem}" settings="{settings}" title="{addressItem.title}">
                        <span><f:render partial="Title" arguments="{addressItem:addressItem}"/></span>
                    </ad:link>
                </h3>
            </div>


            <div class="address--list-details mb-3">

                <f:if condition="{addressItem.phone}">
                    <div class="media">
                        <i class="d-flex fa fa-phone c-gray mr-2 mt-1" aria-hidden="true"></i>
                        <div class="media-body">
                            {addressItem.phone}
                        </div>
                    </div>
                </f:if>
                <f:if condition="{addressItem.fax}">
                    <div class="media">
                        <i class="d-flex fa fa-fax c-gray mr-2 mt-1" aria-hidden="true"></i>
                        <div class="media-body">
                            {addressItem.fax}
                        </div>
                    </div>
                </f:if>

                <f:if condition="{addressItem.address}">
                    <div class="media">
                        <i class="d-flex fa fa-location-arrow c-gray mr-2 mt-1" aria-hidden="true"></i>
                        <div class="media-body">
                            <f:format.nl2br>{addressItem.address}</f:format.nl2br>
                            <f:if condition="{addressItem.zip}"><br/>{addressItem.zip}</f:if>
                            <f:if condition="{addressItem.city}">{addressItem.city}</f:if>
                        </div>
                    </div>
                </f:if>

            </div>

            <!-- teaser -->
            <div class="teaser-text">
                <ad:removeMediaTags>
                    <f:if condition="{addressItem.teaser}">
                        <f:then>
                            <div>{addressItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                        </f:then>
                        <f:else>
                            <div>{addressItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                        </f:else>
                    </f:if>
                </ad:removeMediaTags>

                <ad:link addressItem="{addressItem}" settings="{settings}" class="btn btn-outline-primary" title="{addressItem.title}">
                    <f:translate key="btn.details"/>
                </ad:link>
            </div>

            <!-- footer information -->
            <div class="footer">
                <p>

                    <f:if condition="{addressItem.firstCategory}">
                        <!-- first category -->
                        <span class="address-list-category">{addressItem.firstCategory.title}</span>
                    </f:if>

                    <f:if condition="{addressItem.tags}">
                        <!-- Tags -->
                        <span class="address-list-tags">
							<f:for each="{addressItem.tags}" as="tag">
								{tag.title}
							</f:for>
						</span>
                    </f:if>

                </p>
            </div>


        </div>

    </div>


</div>
</html>
