<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="address address-{address.type}{f:if(condition: address.istopaddress, then: ' topaddress')} {ad:categoryNames(address:address,prefix:'address-cat-')} mb-3">
    <ad:excludeDisplayedAddress address="{address}"/>
    <!-- header -->
    <div class="header">
        <h5>
            <ad:link address="{address}" settings="{settings}" title="{address.title}">
                <span><f:render partial="Title" arguments="{address:address}"/></span>
            </ad:link>
        </h5>
    </div>


    <f:render partial="List/Media/Container" arguments="{address:address, mediaElement: address.mediaPreviews.0, settings:settings}"/>


    <p>
        <f:if condition="{address.phone}"><i class="fa fa-phone c-gray" aria-hidden="true"></i> {address.phone}<br/></f:if>
        <f:if condition="{address.fax}"><i class="fa fa-fax c-gray" aria-hidden="true"></i> {address.fax}</f:if>
    </p>


    <f:if condition="{address.detailPid}">
        <p>
            <f:link.page class="internal" pageUid="{address.detailPid}">
                <f:translate key="btn.detailPage"/>
            </f:link.page>
        </p>
    </f:if>


</div>
</html>
