<html xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">


	<h3><f:translate key="LLL:EXT:address/Resources/Private/Language/locallang.xml:lbl.contactTo">Contact to</f:translate> <ad:form.value property="{element.identifier}" /></h3>

	<f:form.hidden
			property="{element.identifier}"
			id="{element.uniqueIdentifier}"
			class="{element.properties.elementClassAttribute}"
			additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
	/>

</formvh:renderRenderable>
</html>
