<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ad="http://typo3.org/ns/WapplerSystems/Address/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="leaflet" href="EXT:address/Resources/Public/CSS/Frontend/leaflet/leaflet.css" />
<f:asset.script identifier="leaflet" src="EXT:address/Resources/Public/JavaScript/Frontend/leaflet/leaflet.js"/>

<div id="{identifier}" style="height: 400px;"></div>

<f:if condition="{addresses}">

    <f:asset.script identifier="leaflet-init-{initJavaScript}">
        {initJavaScript}
    </f:asset.script>

</f:if>



</html>
